html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;

	background-color: #000;
	color: #f0f;
}

#threejs {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: -1;
	image-rendering: pixelated;
}

#stats-panel {
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0.8;
	z-index: 10000;
}

#file-input {
	display: none;
}

.lil-gui {
	/* Look ma, I'm a designer! */
	--font-size: 14px;
	--input-font-size: 13px;
	--padding: 5px;
	--spacing: 5px;
	--widget-height: 24px;
	--widget-border-radius: 3px;
}

.lil-gui.lil-root {
	position: absolute;
	top: 5px;
	left: 5px;
}
